Copy code
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8210a5;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

header button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.header-title h1 {
    margin: 0; /* Remover margens padrão do h1 */
}

header i {
    display: flex;
    align-items: center;
}

header i button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

#sideMenu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #8210a5;
    color: #ffffff;
    transition: 0.3s;
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 2; /* Z-index maior para sobrepor o conteúdo principal */
}

#sideMenu a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

#sideMenu a:hover {
    background-color: #af38d4;
}

main {
    background-color: antiquewhite;
    padding: 30px 20px;
    position: relative; /* Adiciona posição relativa */
    z-index: 1; /* Z-index menor para o conteúdo principal */
}

/* Estilo dos itens do menu */
.menu-item {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Adiciona um efeito hover aos itens do menu */
.menu-item:hover {
    background-color: #555;
}

/* Estilo do conteúdo principal, ajustado para deixar espaço para o menu */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.news {
    background-color: #ffffff;
    box-shadow: 10px 10px 50px #c3c3c3;
    margin-bottom: 20px;
    padding: 10px;
}

.tops {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 10px 10px 50px #c3c3c3;
    overflow: hidden;
    padding: 20px;
}

.tops h1 {
    margin-bottom: 20px;
}

.top-category {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 20px;
    background-color: coral;
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    height: 300px;
}

.top-category img {
    max-width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.clear-float {
    clear: both;
}

#openMenu {
    cursor: pointer;
    order: 1;
}

#userIcon {
    cursor: pointer;
    order: 2;
    color: white; /* Define a cor do ícone como branco */
}

#userIcon:hover {
    color: lightgray; /* Adiciona uma cor diferente ao passar o mouse sobre o ícone (opcional) */
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between; /* ou 'space-around' ou 'flex-end' */
}

#logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px; /* Ajuste conforme necessário */
}

#logoutButton:hover {
    color: lightgray; /* Adiciona uma cor diferente ao passar o mouse sobre o botão (opcional) */
}


