body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}
h1 {
    text-align: center;
    margin-bottom: auto;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: #fff;
}

#saveBtn {
    background-color: #4CAF50;
}

#cancelBtn {
    background-color: #f44336;
}
#voltarBtn {
    background-color: #857e1b;
}
#saveBtn:hover, #cancelBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

